@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Bible Verse Application</h1>
    <h1><a href="register">Register</a></h1>
    <h1><a href="login">Login</a></h1>
</div>
